.cart-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.price {
    text-align: right;
    text-size-adjust: 60%;
}

.item-image {
    width: 20%;
    min-width: 190px;
}

th {
    width: 70%;
}